extends layout

block specific-style
	link(rel="stylesheet" href="css/index.css")

block non-obtrusive-js
	script(type="text/javascript" src="js/breathe.js")
	script(type="text/javascript" src="js/looknfeel.js")

block inner-body
	div#breathe

block lower-header
	section#explanation 
		header Clarity. Peace. Serenity. 
		p
			| Invest in yourself for as little as 60 seconds of your time and take a moment away from the hustle and bustle of everyday life.<br />
			| Click on <em>Start</em>, follow the animation, and take a breath.
