block variables
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title #{title}
		meta(name="description", content="Breathing exercises for relaxation have scientifically proven advantages, invest 60 seconds, take a Breath.")
		link(rel="shortcut icon", href="ico/favicon.ico")
		link(rel="apple-touch-icon" sizes="180x180" href="ico/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png")
		link(rel="manifest" href="ico/site.webmanifest")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sarina&display=swap")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap")
		link(rel="stylesheet" href="css/reset.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.js")
		block specific-style
		include heatmap
		block head-content
	body
		#main 
			#header
				h1#logo-text
					img(src="img/logo-chakra-shadow.png" alt="a chakra picture resembling a flower")
					| Breath
			#upper
				block upper-header
			#inner
				block inner-body
			#lower
				block lower-header

				footer#footer
					p BERRY Matthew, MENDES Hudson, SYKES Ruth, TOTH Balazs
					p Agile Software Project, University of London, 2021
					p Sound effects obtained from 
						a(href='https://www.zapsplat.com' id='zapsplat') https://www.zapsplat.com

	block non-obtrusive-js
