.selector
    img(src="thumbs/sean-oulashin-KMn4VEeEPR8-unsplash.jpeg" class="btn-looknfeel" data-looknfeel=0)
    img(src="thumbs/elizeu-dias-RN6ts8IZ4_0-unsplash.jpg" class="btn-looknfeel" data-looknfeel=1)
    img(src="thumbs/katerina-kerdi-yt1-v0TrOi8-unsplash.jpg" class="btn-looknfeel" data-looknfeel=2)
    img(src="thumbs/yang-wewe-H869_y8UJoI-unsplash.jpg" class="btn-looknfeel" data-looknfeel=3)
    img(src="thumbs/anastasia-taioglou-EEDLURXCpqg-unsplash.jpg" class="btn-looknfeel" data-looknfeel=4)