/* BREATHE ============================================================== */
button#breathe {
    width: 15rem;
    height: 15rem;

    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button#breathe span {
    display: block;
    position: absolute;
    margin-top: 6rem;
    width: 15rem;
    font-family: 'Sarina', cursive;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 1px 1px #393c33;
}

button#breathe img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* EXPLANATION ========================================================== */
#explanation {
    padding-top: 2rem;
}

#explanation header {
    font-family: 'Sarina', cursive;
    font-size: 1.5rem;   
    padding-bottom: 1rem;
    text-shadow: 1px 1px #393c33;
}