/* BREATHE ============================================================== */
button#breathe {
    width: 15rem;
    height: 15rem;

    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button#breathe canvas {
    position: relative;
    z-index: 0;
}

/* EXPLANATION ========================================================== */
#explanation {
    padding-top: 2rem;
}

#explanation header {
    font-family: 'Sarina', cursive;
    font-size: 1.5rem;   
    padding-bottom: 1rem;
    text-shadow: 1px 1px #393c33;
}