* {
    font-family: 'Varela Round', sans-serif;
}

html, body, #main {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: url(../img/sean-oulashin-KMn4VEeEPR8-unsplash.jpeg) no-repeat center center fixed; 
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main > div {
    text-align: center;
}

/* HEADER ================================================================================================== */
#header {
    padding: 1rem;
}

#header h1 {
    color: #fff;
    text-shadow: 1px 1px #393c33;
    font-family: 'Sarina', cursive;
    font-size: 4rem;
}

#header h1 img {
    height: 5rem;
    vertical-align: middle;
    object-fit: contain;
}

/* INNER ===================================================================================================== */
#inner .column
{
    display: flex;
    flex-wrap:wrap;
    display: inline-block;
    vertical-align: middle;
}

#inner .column:nth-of-type(2)
{
    width: 80%;
    max-width: 640px;
}

/* LOWER ================================================================================================== */
#lower {
    background-color: #0004;
    color: #edebec;
}

#footer {
    color: #ffffff;
    padding: 2rem 0 2rem 0;
    text-shadow: 1px 1px #393c33;
}

#zapsplat:link {
	color: #ffffff
}

#zapsplat:hover {
	color: #ffffff
}

#zapsplat:visited {
	color: #ffffff
}
