body {
  background: rgb(117, 213, 255);
}

#menubar {
	height: 20px;
	padding: 3px;
	background-color: rgb(0, 150, 255);
	clear: both;
}
#logo {
	width: 20%;
	float: left;
}
#menu {
	text-align: right;
	width: 80%;
	float: right;
}
#menu>a {
	padding-right: 5px;
	padding-left: 5px;
}

#excercise {
	width: 100%;
	text-align: center;
}
#excercise>img {
	height: 300px;
	border: 3px black;
}

#footer {
	text-align: center;
	font-size: 8pt;
}

#animation {
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	background-color: darkmagenta;
	cursor: pointer;
}